*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

:root {
    --tvoPurple: rgba(118, 49, 136, 1);
    --tvoBlue: rgba(53, 126, 159, 1);
    --tvoRed: rgba(237, 25, 68, 1);
}


h1{
    font-size: 60pt;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--tvoRed);
    margin-left: 100px;
}

p{
    display: none;
}

img {
    width: 70px;
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    width: 100vw;
}

#container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: none; 
}

.adult, .kid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    transition: all .5s ease;
    height: 100dvh;
}

.adult{
    background-color: var(--tvoRed);
    transform: scale(1.05);
}

.adult img{
    filter: brightness(0) invert(1) ;
}

.kid{
    background-color: var(--tvoPurple);
}

.adult:hover{
    background-color: white;
}

.adult:hover img{
    filter: brightness(1) invert(0);
}

.kid img{
    filter: brightness(0) invert(1);
}

.kid:hover{
    background-color: white;
}

.kid:hover img{
    filter: brightness(1) invert(0);
}



.cyb{
    margin-left: -50px;
}

.er{
    margin-left: 63px;
}

.bul{
    margin-left: -130px;
}

.ing{
    margin-left: -128px;
}

.ind, .ex{
    margin-left: 60px;
}

@keyframes pop{
    0%, 100%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }
}

@media only screen and (max-width: 1200px){

    h1{
        font-size: 60px;
        /* margin: 20px; */
    }

    p{
        position: absolute;
        display: block;
        font-size: 50px;
        color: var(--tvoRed);
        bottom: 10vh;
        animation: pop 1s ease infinite;
    }

    #container{
        width: 200vw;
        height: 100vh;
        overflow: hidden;
    }

    .mid{
        width: 80vw;
    }

    .cyb{
        margin-left: -21px;
    }

    .bul, .ing{
        margin-left: -82px;
    }

}