*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

html.is-animating .swup-transition-fade{
    opacity: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    hyphens: auto;
    color: var(--tvoBlue);
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18pt;
    line-height: 40px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    line-height: 40px;
    text-decoration: underline;
    color: black;
}

h1{
    font-size: 60pt;
    font-weight: 100;
    color: var(--tvoRed);
}

h2{
    text-transform: uppercase;
    hyphens: none;
    margin: 20px 0 20px 0;
    font-size: 30px;
}

h3{
    margin: 30px 0 20px 0;
}

li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18pt;
    line-height: 40px;
}

#menu {
    position: fixed;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100vw;
    background-color: var(--tvoRed);
    transition: all 0.3s ease;
    z-index: +5;
}

#menu img{
    filter: invert(1) saturate(0) contrast(100);
    margin-left: 12vw;
    margin-top: 11px;
}

#menu ul{
    position: absolute;
    right: 12vw;
    display: flex;
    flex-direction: row;
    gap: 70px;
    list-style: none;    
}

#menu li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

#menu a{
    text-decoration: none;
    font-size: 12pt;
    color: white;
}

.boost {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.wrapper{
    padding-left: 12vw;
    padding-right: 12vw;
    padding-top: 90px;
}

.support{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.phoneWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 110vh;
    grid-gap: 50px;
}

.phoneWrapper li{
    margin-bottom: 50px;
}

.phoneWrapper h1{
    margin-bottom: 150px;
}

.phoneWrapper div:nth-child(2){
    margin-top: 334px;
}

.hambMenu{
    display: none;
}

#hamburger{
    display: none;
    position: fixed;
    right: 5vw;
    top: 5vh;
    z-index: +10;
}

#cross{
    position: absolute;
    right: 5vw;
    top: 5vh;
    z-index: +11; 
}

#hamburger, #cross:hover{
    cursor: pointer;
}

.hambMenu{
    position: fixed;
    width: 55vw;
    height: 100dvh;
    background-color: var(--tvoRed);
    top: 0;
    right: -55vw;
    z-index: +10;
}

.shift{
    position: absolute;
    margin-left: 135px;
}

.buttonHelp{
    position: absolute;
    margin-left: 535px;
    margin-top: 150px;
}

.menuLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

.menuLinks li{
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    margin-bottom: 10vh;
    font-size: 25px;
}

.menuLinks a{
    text-decoration: none;
    color: white;

}

@media only screen and (max-width: 1200px){
    p, li{
        font-size: 16.5px;
        line-height: 26px;
    }

    h1{
        font-size: 60px;
    }

    .phoneWrapper, .support{
        grid-template-columns: 1fr;
        grid-gap: 0;
        margin-top: 150px;
    }

    .phoneWrapper div:nth-child(2){
        margin-top: 0;
    }

    .info{
        margin-top: 30px;
        margin-bottom: 100px;
    }

    .shift{
        margin-left: 100px;
    }

    .buttonHelp{
        margin-left: 50px;
        margin-top: -170px;
    }

    .support{
        margin-top: 4px;
    }

}

@media only screen and (max-width: 800px){
    #menu{
        display: none;
    }

    .hambMenu{
        display: block;
    }

    #hamburger{
        display: block;
    }

    .statistics{
        padding-top: 30px;
    }

    .wrapper{
        margin-top: -63px;
    }

}