*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}

:root {
  --tvoPurple: rgba(118, 49, 136, 1);
  --tvoBlue: rgba(53, 126, 159, 1);
  --tvoRed: rgba(237, 25, 68, 1);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  hyphens: auto;
  background-color: var(--tvoPurple);
  color: white;
}

p, li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18pt;
  line-height: 40px;
  color: white;
}

p{
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 5vw;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15pt;
  line-height: 40px;
  text-decoration: underline;
  color: white;
}

h1{
  font-size: 60pt;
  font-weight: 100;
}

h2{
  text-transform: uppercase;
  hyphens: none;
  margin: 20px 0 20px 0;
  font-size: 30px;
  font-weight: 100;
}

h3{
  margin: 30px 0 20px 0;
}

#menu {
  position: fixed;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100vw;
  background-color: var(--tvoPurple);
  transition: all 0.3s ease;
  z-index: +5;
}

#menu img{
  filter: invert(1) saturate(0) contrast(100);
  margin-left: 12vw;
  margin-top: 11px;
}

#menu ul{
  position: absolute;
  right: 12vw;
  display: flex;
  flex-direction: row;
  gap: 70px;
  list-style: none;    
}

#menu li{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

#menu a{
  text-decoration: none;
  font-size: 12pt;
}

#hamburger{
  display: none;
  position: fixed;
  right: 5vw;
  top: 5dvh;
  z-index: +10;
}

#cross{
  position: absolute;
  right: 5vw;
  top: 5dvh;
  z-index: +11; 
}

#hamburger, #cross:hover{
  cursor: pointer;
}

.hambMenu{
  position: fixed;
  width: 55vw;
  height: 100dvh;
  background-color: var(--tvoPurple);
  top: 0;
  right: -55vw;
  z-index: +10;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 50vh;
  padding-top: 50px;
  padding-left: 12vw;
  padding-right: 12vw;
  padding-top: 15vh;
}

.wrapper img{
  width: 70%;
}

.shift{
  margin-left: 113px;
}

#ticTacCanvas{
  transform: translateX(50%);
  margin-bottom: 70px;
}

canvas {
  display: block;
}

.menuLinks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30dvh;
}

.menuLinks li{
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  margin-bottom: 10dvh;
  font-size: 25px;
}

.menuLinks a{
  text-decoration: none;

}



@media only screen and (max-width: 1200px){
  p, li{
      font-size: 16.5px;
      line-height: 26px;
  }

  h1{
      font-size: 60px;
  }

  .wrapper{
    grid-template-columns: 1fr;
  }

  .shift{
    margin-left: 85px;
  }

  .wrapper{
    margin-top: -90px;
  }
}

@media only screen and (max-width: 800px){
  #menu{
      display: none;
  }

  .hambMenu{
      display: block;
      /* filter: contrast(1) saturate(0); */
  }

  #hamburger{
      display: block;
  }
}
