*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

:root {
    --tvoPurple: rgba(118, 49, 136, 1);
    --tvoBlue: rgba(53, 126, 159, 1);
    --tvoRed: rgba(237, 25, 68, 1);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    hyphens: auto;
}

p, li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18pt;
    line-height: 40px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    line-height: 40px;
    text-decoration: underline;
    color: white;
}

h1{
    font-size: 60pt;
    font-weight: 100;
}

h2{
    text-transform: uppercase;
    hyphens: none;
    margin: 20px 0 20px 0;
    font-size: 30px;
    font-weight: 100;
}

h3{
    margin: 30px 0 20px 0;
}

#menu {
    position: fixed;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100vw;
    background-color: var(--tvoPurple);
    transition: all 0.3s ease;
    z-index: +5;
}

#menu img{
    filter: invert(1) saturate(0) contrast(100);
    margin-left: 12vw;
    margin-top: 11px;
}

#menu ul{
    position: absolute;
    right: 12vw;
    display: flex;
    flex-direction: row;
    gap: 70px;
    list-style: none;    
}

#menu li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

#menu a{
    text-decoration: none;
    font-size: 12pt;
}

#hamburger{
    display: none;
    position: fixed;
    right: 5vw;
    top: 5dvh;
    z-index: +10;
}

#cross{
    position: absolute;
    right: 5vw;
    top: 5dvh;
    z-index: +11; 
}

#hamburger, #cross:hover{
    cursor: pointer;
}

.hambMenu{
    position: fixed;
    width: 55vw;
    height: 100dvh;
    background-color: var(--tvoPurple);
    top: 0;
    right: -55vw;
    z-index: +10;
}

.boost {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.intro{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100dvh;
    padding-top: 100px;
    margin: 0 12vw 0 12vw;
}

.intro div{
    display: flex;
    justify-content: center;
}

.cyb{
    margin-left: -50px;
}

.er{
    margin-left: 63px;
}

.bul{
    margin-left: -130px;
}

.ing{
    margin-left: -128px;
}

.ind, .ex{
    margin-left: 60px;
}

.intro .leaf{
    margin-top: -590px;
    margin-left: -80%;
}

.mainHead{
    color: var(--tvoPurple);
}

.mainPresent{
    padding-top: 380px;
}

/* —————————————————————— */

.illu1{
    position: absolute;
    left: 2vw;
    margin-top: -950px;
    width: 30%;
}

.illu2{
    position: absolute;
    right: 5vw;
    margin-top: -200px;
    width: 15%;
}

.illu3{
    position: absolute;
    left: 10vw;
    margin-top: 350px;
    width: 10%;
}

/* —————————————————————— */

.stat{
    background-color: var(--tvoPurple);
    width: 100vw;
    padding: 0 12vw 0 12vw;
}

.statWrapper{
    display: flex;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    color: white;
}

.statWrapper p{
    width: 450px;
}




.learn{
    height: 100px;
    text-align: center; 
    /* margin-top: -100px; */
}


.help{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
    border: .25px solid blue;
}

.help h2{
    width: 35%;
    margin-bottom: 30px;
    color: var(--tvoPurple);
}

.help p{
    width: 35%;
    color: var(--tvoPurple);
}

.help .boost{
    color: var(--tvoRed);
}

/* —————————————————————— */

.illu4{
    position: absolute;
    width: 40%;
    right: 1vw;
    margin-top: -820px;
}

.buttonHelp{
    position: absolute;
    margin-top: -250px;
    left: 12vw;
}

/* —————————————————————— */


.prevent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100dvh;
    background-color: var(--tvoRed);
    color: white;
}

.prevent p{
    width: 30%;
}

.prevent h1{
    margin-bottom: 50px;
}

.buttonAction{
    position: absolute;
    margin-top: -70px;
    left: 10vw;
}

/* —————————————————————— */

.illu7{
    position: absolute;
    width: 40%;
    left: 1vw;
    margin-top: -950px;

}

.illu8{
    position: absolute;
    width: 30%;
    right: 2vw;
    margin-bottom: -250px;

}

/* —————————————————————— */

.menuLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30dvh;
}

.menuLinks li{
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    margin-bottom: 10dvh;
    font-size: 25px;
}

.menuLinks a{
    text-decoration: none;
}

.stopB{
    margin-left: 249px;
}

@media only screen and (max-width: 1200px){

    p, li{
        font-size: 16.5px;
        line-height: 26px;
    }

    h1{
        font-size: 60px;
    }
    .prevent p{
        width: 50vw;
    }

    .intro {
        grid-template-columns:  1fr;
        margin: 0;
        padding: 0;
    }

    .leaf{
        display: none;
    }

    .mainPresent{
        padding: 0;
    }

    .mainPresent p{
        line-height: 30px;
    }

    .cyb{
        margin-left: -21px;
    }

    .bul, .ing{
        margin-left: -82px;
    }
    
    .mainPresent p{
        line-height: 20px;
    }

    .illu1{
        left: -15%;
        width: 50%;
    }

    .illu2{
        margin-top: -300px;
        width: 150px;
    }

    .illu3{
        width: 100px;
    }

    .illu4{
        /* right: 20px; */
        width: 60%;
    }

    .illu7{
        margin-top: -700px;
    }

    .illu8{
        margin-bottom: -45vw;
    }

    .help h2, .help p{
        width: 60%;
    }

    .buttonHelp{
        margin-top: -400px;
        left: 10vw;
        width: 80px;
    }

    .buttonAction{
        width: 80px;
        margin-top: 150px;
    }

    .prevent h1{
        font-size: 30px;
    }

    .stopB{
        margin-left: 92px;
    }
}

@media only screen and (max-width: 800px){
    #menu{
        display: none;
    }

    .hambMenu{
        display: block;
    }

    #hamburger{
        display: block;
    }
}

